@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.custom-width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.post-image {
    max-width: 1200px; /* Maximum width */
    max-height: 630px; /* Maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}
